
<div class="enviarPregunta">
    <h1>Nueva pregunta</h1>
<form action="/preguntaEnviada" method="POST">
 <label for="titulo">Pregunta</label>
 <input class="form-control" type="text" name="titulo" value="">
<span class="aviso">Máximo 200 caracteres</span>
<br>
<br>
<label for="descripcion">Explica tu problema</label>
   <input type="text" class="form-control" name="descripcion">
  
 {{#if message}}
   <div class="error-message">
     {{message}}
   </div>
 {{/if}}


 <button class="btn btn-success" type="submit">Guardar</button>
</form>
 </div>
