
<main class="home"><h1>Preguntas</h1>
<div>
 <a href="/pregunta" class="btn btn-primary">Nueva Pregunta</a>
</div>

<div>
 <table id="preguntas">
   <tr>
     <th class="header">Últimas preguntas</th>
  
   </tr>
   {{#each preguntas}}
   <tr>
     <td class="pregunta"><a href="/preguntas/{{this._id}}">{{this.titulo}}</a></td>
     
   </tr>
   {{/each}}
 </table>
</div>
</main>
