<h1>Nueva pregunta</h1>
<form action="/" method="post">
 <div class="">
 <label for="pregunta">Pregunta</label>
 <input type="text" name="pregunta" value="">
<span class="aviso">Máximo 200 caracteres</span>
 {{#if message}}
   <div class="error-message">
     {{message}}
   </div>
 {{/if}}
 </div>

 <button class="btn btn-success" type="submit">Guardar</button>

</form>