<div class="formapregunta">

<h1>{{pregunta.titulo}}</h1>
<h3>Detalle pregunta:</h3>
<span>{{pregunta.descripcion}}</span>
<h3>Respuestas:</h3>
<p>{{respuesta.[0].???? }}</p>

<a href="/private"> Regresar</a>

</div>